
a[href^="./index.html"], a[href^="./travaux.html"] {
    background-color: #FFEEEF;
    color: #9D1F64;
    font-size: 1em;
    font-family: 'SonsieOne', sans-serif;
    display: block; 
    padding: 10px;
    font-style: italic;
}

a[href^="./index.html"], a[href^="./travaux.html"]:hover {
    color: #000000;
    text-decoration:overline;
}

/* général */

header {
  color: #FFEEEF;
  font-size: 2em;
  font-family: 'SonsieOne', sans-serif;
  text-align: left;
  text-shadow: 1px 4px 3px grey;
}

body {
    background-color: #9D1F64;
    color: #FFEEEF;
    margin: 0; 
    padding: 20px;
}



/* styles ponctuels */

.socials {
  font-style: italic;
}

#joke {
    color: #000000;
}

/* pied de page */

footer {
    background: #FFEEEF;
    color: #9D1F64;
    font-size: 1.3em;
    border-radius: 1em;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}



/* import des polices */

@font-face {
    font-family: 'Montserrat';
    src: url('polices/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Parisienne';
    src: url('polices/Parisienne.ttf') format('truetype');
}

@font-face {
    font-family: 'SonsieOne';
    src: url('polices/SonsieOne.ttf') format('truetype');
}



/* titres */

h1 {
  color: #000000;
  font-size: 2em;
  font-family: 'SonsieOne', sans-serif;
  text-shadow: 1px 4px 3px grey;
}

h2 {
  color: #9D1F64;
  font-size: 2em;
  font-family: 'SonsieOne', sans-serif;
  margin-top: 2em;
}




/* paragraphes */

section {
    width: 90%;
    background-color: #FFEEEF;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 5px 20px 20px 20px;
    border: 4px solid #9D1F64;
    margin: 20px auto;
}



/* listes */

ul {
  color: #000000;
  font-size:80%;
  list-style: circle outside;
}




/* pour mailto */

a[href^="mailto:"] {
    color: #9D1F64;
}

a[href^="mailto:"]:visited {
    color: #9D1F64;
}

a[href^="mailto:"]:hover {
    color: #000000;
    text-decoration:overline;
}

a[href^="mailto:"]:active {
    color: #000000;
}
